torchvision
pandas
matplotlib
packaging
lightning
transformers
sentencepiece
accelerate
bitsandbytes
tensorboard
setuptools
omegaconf
fsspec
s3fs
braceexpand
flash_attn
av
boto3
timm
opencv-python
diffusers==0.30.3